@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam.ttf") format("truetype");
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe.ttf") format("truetype");
}
html {
  background: #e5e5e5;
}
body {
  background: #171717;
  width: 1920px;
  margin: auto;
}
.main-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #e4e7eb;
  letter-spacing: 0.7px;
}
/* ------------------- header-------------- ---- */
.header {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1460px;
}
.header-backcall > li {
  height: 50px;
  list-style-type: none;
  padding: 0px 25px 0px 45px;
  outline: 1px solid #e4b564;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header-backcall > li:before {
  position: absolute;
  width: 18px;
  height: 18px;
  content: "";
  background-repeat: no-repeat !important;
  background: url(../img/vector.png);
  margin-left: -20px;
}
.header-backcall > li > a {
  text-decoration: none;
  font-weight: 400;
  color: #e4b564;
  font-size: 18px;
  padding-left: 5px;
  font-family: "Circe";
}
/* ------------------ Section-1----------------- */
.section-1 > h2 {
  margin-top: 120px;
  text-align: start;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #e4e7eb;
}
.section-1 > p {
  margin-top: 41px;
  text-align: start;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #e4e7eb;
}
.container-1-grid {
  margin-top: 41px;
  display: grid;
  width: 1460px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 27px;
}
.container-1-grid > .grid-item-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  width: 467px;
  height: 468px;
  background-color: #634f2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-1-grid > .grid-item-2 {
  grid-column: 3 / span 2;
  grid-row: 1;
  width: 467px;
  height: 468px;
  background-color: #b4a385;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-1-grid > .grid-item-3 {
  grid-column: 5 / span 2;
  grid-row: 1;
  width: 467px;
  height: 468px;
  background-color: #e4b564;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-1-grid > .grid-item-4 {
  grid-column: 1 / span 3;
  grid-row: 2;
  width: 715px;
  height: 468px;
  background-color: #635a4a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-1-grid > .grid-item-5 {
  grid-column: 4 / span 3;
  grid-row: 2;
  width: 715px;
  height: 468px;
  background-color: #b08c4d;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ------------------ Section-2----------------- */
.section-2 > h2 {
  margin-top: 161px;
  text-align: start;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #e4e7eb;
}
.container-2-flex {
  margin-top: 94px;
  display: flex;
  width: 1460px;
  flex-direction: row;
  text-align: left;
}
.flex-2,
.flex-3 {
  margin-left: 30px;
}
.flex-1-1 {
  width: 467px;
  height: 313px;
  background: #0e0e0e;
}
.flex-1-1 > p {
  padding-top: 44px;
  padding-left: 52px;
}
.flex-1-2 {
  width: 467px;
  height: 560px;
  background: #1f1f1f;
  margin-top: 24px;
}
.flex-1-2 > p {
  padding-top: 56px;
  padding-left: 52px;
}
.flex-2-1 {
  width: 467px;
  height: 439px;
  background: #242424;
}
.flex-2-1 > p {
  padding-top: 44px;
  padding-left: 51px;
}
.flex-2-2 {
  width: 467px;
  height: 405px;
  background: #e4b564;
  margin-top: 33px;
}
.flex-2-2 > p {
  padding-top: 47px;
  padding-left: 52px;
}
.flex-3-1 {
  width: 467px;
  height: 255px;
  background: #1f1f1f;
}
.flex-3-1 > p {
  padding-top: 44px;
  padding-left: 48px;
}
.flex-3-2 {
  width: 467px;
  height: 313px;
  background: #0e0e0e;
  margin-top: 26px;
}
.flex-3-2 > p {
  padding-top: 44px;
  padding-left: 48px;
}
.flex-3-3 {
  width: 467px;
  height: 277px;
  background: #0a0909;
  margin-top: 26px;
}
.flex-3-3 > p {
  padding-top: 44px;
  padding-left: 48px;
}
/* ------------------ Section-3----------------- */
.section-3 {
  margin-top: 191px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 1920px;
  height: 1054px;
  margin-bottom: 238px;
  background: #0e0e0e;
}
.sect-3-text-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sect-3-text-content > h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #e4e7eb;
}
.sect-3-text-content > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  width: 180px;
  height: 50px;
  outline: 1px solid #e4b564;
  font-size: 18px;
  font-family: "Circe";
}
.container-3-grid {
  margin-top: 61px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.container-3-grid > .grid-item-1 {
  grid: 1/1;
  grid-row: 1;
  width: 487px;
  height: 391px;
  background-color: #634f2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-3-grid > .grid-item-2 {
  grid: 1/2;
  width: 487px;
  height: 391px;
  background-color: rgba(232, 210, 171, 0.76);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-3-grid > .grid-item-3 {
  grid: 1/3;
  width: 487px;
  height: 391px;
  background-color: #e4b564;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-3-grid > .grid-item-4 {
  grid: 2/1;
  width: 487px;
  height: 391px;
  background-color: #635a4a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-3-grid > .grid-item-5 {
  grid: 2/2;
  width: 487px;
  height: 391px;
  background-color: #b08c4d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-3-grid > .grid-item-6 {
  grid: 2/3;
  width: 487px;
  height: 391px;
  background-color: #634f2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
